$fontColor: #fff;
$backgroundCol: #000;
$tech-font: Monospace;
$brand-font: Poppins;
// font-family: 'Poppins', sans-serif;
$text-lrg: 80px;
$text-med: 40px;
$text-sm: 24px;

body {
  text-align: center;
  font-family: $brand-font;
  background-color: $backgroundCol;
  color: $fontColor;
  margin: 0px;
  font-size: $text-sm;
  overflow: hidden;
  text-shadow: 3px 3px 12px rgba(0,0,0,.6);
  // padding: 20px;

}

#frames{
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  display: none;
}

#hex-video{
  background-blend-mode: color-dodge;

}

.align-vert-center{
  top:13%;
  position: relative;
  vertical-align: middle;
}

#date{
    margin-top: -24px;
}

#splash-tagline{
<<<<<<< HEAD
    margin-top: -40px;
=======
    margin-top: -34px;
>>>>>>> 195b8f129a73d045373a2eef8b689d35c587c90f

}

button{
  background-color: black;
  color: white;
  font-size: $text-med;
}

button:hover{
  background-color: #14cec2;
}

.text-lrg{
  font-size: $text-lrg;
}

.text-med{
  font-size: $text-med;
}

.text-sm{
  font-size: $text-sm;
}

mark {
    background-color: black;
    color: white;
}

#splash-bg{
  background-color: blue;
  opacity: 0;
}

#info {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
}

#info a {
  color: #f00;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer
}

h1{
  color: $fontColor
}



.full-screen{
  position: absolute;
  object-fit: fill;
  width: 100%;
  height: 100%;
  top: 0px;
  left:0px;
}
