<!doctype html>
<html>
	<head>
		<title>Eternal Cloud BLANK</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">


		<script src="js/three.js/Three.js"></script>
		<script src="js/three.js/Detector.js"></script>
		<script src="js/three.js/Stats.js"></script>

		<script src="js/threex/THREEx.screenshot.js"></script>
		<script src="js/threex/THREEx.FullScreen.js"></script>
		<script src="js/threex/THREEx.WindowResize.js"></script>
		<script src="js/three.js/TrackballControls.js"></script>
		<script src="js/webcam.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		  <script src="https://js.pusher.com/3.2/pusher.min.js"></script>

		<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link  href="css/make-profile.css" rel="stylesheet"/>
		<style media="screen">
			#login{
				text-decoration: line-through;
				text-align: center;
				font-size: 8vh;
			}

			.center{
				margin: auto;
				text-align: center;
			}
		</style>
	</head>
<body>
<div class="center">


<!-- <h1>you can't</h1>
<h1 id='login'>LOGIN</h1>
<h1>yet</h1>
<br><br> -->
<h1>DO NOT CLOSE THIS WINDOW</h1>
</div>


	<div id="my_camera"></div>
	<div id="container"></div>

	<script type="text/javascript">
		// if
		$.ajax({
			url: '/getKey',
			method: 'get',
		})
		.done(function(data){

			makePusher(data)
		})
		.fail(function(err){
			console.log(err)
		})

		function makePusher(key){
			var pusherFront = new Pusher(key);

			// //subscribe and unsubscribe from channels at any time.
			//create a channel from nothing like this.
			//events are past tense "thing was created"
			var channel1 = pusherFront.subscribe("photoTakenCh");




	//events are published to channels.
	//all events on a channel are pushed to all subscribers of that channel
	//use channels to filter
	//bind with a callback;
			channel1.bind('photoTaken',
				function(data) {
					// add new price into the APPL widget
					//console.log('binding "addedInfo" to channel1. data:');
					console.log(data);


					//tally up score
					//post score to the server
					location.href = '/candidate-solo';

				})

		}


	</script>






</body>
</html>
