<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eternal Cloud Members</title>

    <script src="js/three.min.js"></script>
    <script src="js/three.js/Detector.js"></script>
    <script src="js/three.js/Stats.js"></script>
    	<script src="js/three.js/TrackballControls.js"></script>

      <script src="js/glitch/CopyShader.js"></script>
      <script src="js/glitch/DigitalGlitch.js"></script>

      <script src="js/glitch/EffectComposer.js"></script>
      <script src="js/glitch/RenderPass.js"></script>
      <script src="js/glitch/MaskPass.js"></script>
      <script src="js/glitch/ShaderPass.js"></script>
      <script src="js/glitch/GlitchPass.js"></script>

      <!-- front end pusher -->
      <script src="https://js.pusher.com/3.2/pusher.min.js"></script>


    <!-- Custom Font - Change 'Muli' to the font you want -->
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom CSS inside CSS folder -->
    <link  href="css/make-profile.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/style.css">

    <style media="screen">

    h2 {
      color: #b9a0b1;
    }

    p {
      color: #009fc6;
    }

    .container{
      position: relative;
    }
      canvas{
        z-index: -10;
        position: absolute;
        top: 95px;
        left: 0px;
        width: 769px;
        height: 699px;
      }

      .header{
        background-color: #009fc6;
        color: white;
        padding-top: 1px;
        padding-bottom: 36px;

      }

      .progress{
        position: absolute;
        left:10%;
        width:80%;
      }

      #done{
        font-size: 40px;
      }

    </style>



  </head>
  <body>


<div class="header">
    <h1 class="centered-type">Current Candidate</h1>
    <div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
    aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
      PROGRESS - YOU MUST FINISH
    </div>
  </div>

</div>
<img src="../img/candidate.gif" id="candidate-gif" alt="" />

  <div class="container" id="full-form">
    	<!-- <div class="row"> -->


      <!-- </div> -->
		<div class="row">
			<div class="col-xs-6 col-sm-2 col-md-3">

        <!-- //make a new form ID -->


        <!-- <input type="submit" class="buttons" id="done" name="newsubmit" value="DONE"> -->
          <button type="submit" onclick="Done()" id="done" class="buttons" style="display:none">DONE</button>

          <form id="ActivismForm" style="display:none">
                    <div class="form-group">
                      <!-- <label for="name">Name</label> -->
                          <h2>ACTIVISM</h2>
                          <p>Name one organization or cause that you have donated time or money to, in the last year?
                          </p>
                      <input type="text" class="form-control" id="activism" placeholder="" name="activism">
                      <button type="submit" class="btn btn-default">Submit</button>

                    </div>

                </form>

            <form id="IntelligenceForm" style="display:none">
                      <div class="form-group">
                            <h2>INTELLIGENCE</h2>
                            <p>
                              enter github handle
                            </p>
                            <input type="text" class="form-control" id="intelligence" placeholder="" name="intelligence">
                            <button type="submit" class="btn btn-default">Submit</button>
                            <!-- //how can I make something else do the submit -->
                            <button type="submit" class="btn btn-default">I Don't have a github</button>
                      </div>

                    </form>



      </form>
      <form id="CareerForm" style="display:none">
          <div class="form-group">
                <h2>CAREER CHOICE</h2>
              <p>Are you a banker?</p>
              <input type="radio" name="career" class="career" value="yes"> Yes<br>
              <input type="radio" name="career" class="career" value="no"> No<br>
              <button type="submit" class="btn btn-default">Submit</button>

          </div>

        </form>

        <form id="candidateForm">
          <div class="form-group">
              <h2>PHILANTHROPY</h2>
              <p>Perentage of annual income you donate:</p>
            <input type="number" min='0' style="width:100px" max='100' step='1' class="form-control" id="philanthropy" placeholder="10" name="philanthropy">
          </div>

          <button type="submit" class="btn btn-default">Submit</button>
        </form>






     </div>   <!--col -->
   </div>  <!--row -->
 </div>  <!--container -->


</body>

    <!-- JQuery script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- CUSTOM JS look in public>JS -->
    <script src="js/candidate.js"></script>

    <script type="text/javascript">
    $('.progress-bar').attr("style","width:20%");

    $("#candidateForm").submit(function() {
    //   console.log('done forst one')
    //   $('.progress-bar').attr("style","width:40%");
    // // $("#candidateForm").fadeOut()
    // $('#CareerForm').fadeIn();
   });

   $("#CareerForm").submit(function() {
  //    console.log('done forst one')
  //    $('.progress-bar').attr("style","width:60%");
  //  // $("#candidateForm").fadeOut()
  //  $('#IntelligenceForm').fadeIn();
  });

  $("#IntelligenceForm").submit(function() {
    console.log('done forst one')
    $('.progress-bar').attr("style","width:80%");
  // $("#candidateForm").fadeOut()
  $('#ActivismForm').fadeIn();
 });

 $("#ActivismForm").submit(function() {
   console.log('done forst one')
   $('.progress-bar').attr("style","width:100%");
 // $("#candidateForm").fadeOut()
 $('#done').fadeIn();
});

    </script>
</html>
