<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eternal Cloud Members</title>

    <script src="js/three.min.js"></script>
    <script src="js/three.js/Detector.js"></script>
    <script src="js/three.js/Stats.js"></script>
    	<script src="js/three.js/TrackballControls.js"></script>

      <script src="js/glitch/CopyShader.js"></script>
      <script src="js/glitch/DigitalGlitch.js"></script>

      <script src="js/glitch/EffectComposer.js"></script>
      <script src="js/glitch/RenderPass.js"></script>
      <script src="js/glitch/MaskPass.js"></script>
      <script src="js/glitch/ShaderPass.js"></script>
      <script src="js/glitch/GlitchPass.js"></script>


    <!-- Custom Font - Change 'Muli' to the font you want -->
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- //do I need these here at all? -->
    <script src="https://js.pusher.com/3.2/pusher.min.js"></script>

    <!-- Custom CSS inside CSS folder -->
    <link rel="stylesheet" href="css/style.css">
    <link  href="css/make-profile.css" rel="stylesheet"/>



  </head>
  <body>

    <div class="header" style="padding-bottom: 10px; padding-top:10px;">
        <h1 class="centered-type" style="text-transform:uppercase;">potential Candidate</h1>


    </div>

    <div class="gif-holder">
      <img src="../img/candidate.gif" class="gif" alt=""/>
      <img src="../img/candidate.gif" class="gif" alt=""/>
      <img src="../img/candidate.gif" class="gif" alt=""/>
      <img src="../img/candidate.gif" class="gif" alt=""/>
      <img src="../img/candidate.gif" class="gif" alt=""/>
      <!-- <img src="../img/candidate.gif" class="gif" alt=""/> -->

    </div>
    <!-- <img src="../img/candidate.gif" id="candidate-gif" alt=""/>
    <img src="../img/candidate.gif" id="candidate-gif-2" alt=""/> -->

    <div class="container" id="candidate-container"></div>

    <div id="score-update">
      <!-- <p>
        {
      </p> -->
      <br>
      <p>
        your score: <span id="score">0</span> GB
      </p>

      <p>min acceptable score: 1,000 GB</p>
    <br>
      <!-- <p>
      }
      </p> -->

    </div>




</body>

    <!-- JQuery script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- CUSTOM JS look in public>JS -->
    <script src="js/candidate.js"></script>


    <script>

    $.ajax({
      url: '/getKey',
      method: 'get',
    })
    .done(function(data){

      makePusher(data)
    })
    .fail(function(err){
      console.log(err)
    })

    //If a channel has been subscribed to already it is possible to access channels by name,
    //through the pusher.channel function:
    //The name of the channel to retrieve
  function makePusher(key){
    var pusherFront = new Pusher(key);

    // //subscribe and unsubscribe from channels at any time.
    //create a channel from nothing like this.
    //events are past tense "thing was created"
    var channel1 = pusherFront.subscribe("channelName");


    var channel2 = pusherFront.subscribe("gameOverCh");

    channel2.bind('gameOver',
    function(data) {
      console.log(data);

      //change the route
      location.href = '/third';

    })




    channel1.bind('addedInfo',
      function(data) {
        // add new price into the APPL widget
        console.log('binding "addedInfo" to channel1. data:');
        console.log(data);


        //tally up score
        //post score to the server
        document.getElementById("score").innerHTML = data.score;


      })

  }


    </script>


</html>
