<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Eternal Cloud Scoring</title>


  <!-- <script src="/js/three.min.js"></script>
  <script src="/js/three.js/Detector.js"></script>
  <script src="/js/three.js/Stats.js">
  </script>
  <script src="/js/three.js/TrackballControls.js">
  </script>
  <script src="/js/glitch/CopyShader.js">
  </script>
  <script src="/js/glitch/DigitalGlitch.js">
  </script>
  <script src="/js/glitch/EffectComposer.js">
  </script>
  <script src="/js/glitch/RenderPass.js">
  </script>
  <script src="/js/glitch/MaskPass.js">
  </script>
  <script src="/js/glitch/ShaderPass.js">
  </script>
  <script src="/js/glitch/GlitchPass.js">
  </script> -->

  <!-- front end pusher -->
  <script src="https://js.pusher.com/3.2/pusher.min.js"></script>
  <!-- Custom Font - Change 'Muli' to the font you want -->
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Custom CSS inside CSS folder -->
  <link href="/css/make-profile.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/form-score.css">
</head>

<body>

  <!-- JQuery script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>
  <!-- CUSTOM JS look in public>JS -->

    <script src="/js/facebook.js">

  <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
  <script src="/js/formscore.js">

  </script>



  <div class="header">
    <h1 class="centered-type">GET HUMANITARIAN SCORE</h1>
    <p>MINIMUM:
      <span id="num-answered">0</span> / 12 questions</p>
    <img src="../img/candidate.gif" id="candidate-gif" alt="" style="fill:white">
    <div class="FB-findout">
      <p style="color:white">
        Oh just find out for yourself.
      </p>
      <br>
      <p>
        <fb:login-button 
  scope="email,user_posts,user_photos,user_likes"
  onlogin="checkLoginState();" id="facebookLogin">
  Connect
</fb:login-button>
        <!--<button type="button" name="button">Facebook Login</button>-->

      </p>

    </div>
  </div>


  <div class="masonry-layout">


    <div class="masonry-layout__panel philanthropy-bg">
      <div class="masonry-layout__panel-content">
        <div id="percentageForm" name="percentageForm">
          <h2>PHILANTHROPY</h2>
          <p>Perentage of annual income you donate:</p>
          <input type="number" min='0' style="width:100px" max='100' step='1' class="form-control"
            id="percentIncome" placeholder="10" name="percentIncome">
          <button type="submit" onclick="philanthropyOne()" id="temp" class="btn btn-default">Submit</button>
        </div>
      </div>
    </div>




    <div class="masonry-layout__panel ad-bg">
      <div class="masonry-layout__panel-content">
        <form id="CompostForm">
          <h2>SALVATION OPPORTUNITY</h2>
          <p>Earn 25 GB by donating to the ACLU right now</p>

          <button type="submit" class="btn btn-default">Donate</button>
        </form>
      </div>
    </div>


    <div class="masonry-layout__panel green-bg">
      <div class="masonry-layout__panel-content">
        <form id="CompostForm">
          <h2>GREEN</h2>
          <p>Do you compost?</p>
          <input type="radio" name="compost" class="compost" value="yes"> Yes
          <br>
          <input type="radio" name="compost" class="compost" value="no"> No
          <br>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>






    <div class="masonry-layout__panel career-bg">
      <div class="masonry-layout__panel-content">
        <div id="CareerForm">
          <h2>CAREER CHOICE</h2>
          <p>Are you a banker?</p>
          <input type="radio" name="career" class="career" value="yes"> Yes
          <br>
          <input type="radio" name="career" class="career" value="no"> No
          <br>
          <button id="career_id" onclick="careerChoice()" type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </div>



    <div class="intelligence-bg masonry-layout__panel">
      <div class="masonry-layout__panel-content">
        <form id="IntelligenceForm" name="IntelligenceForm">
          <h2>INTELLIGENCE</h2>
          <p>Highest education recieved</p>
          <select>
  <option value="hs">Highschool or less</option>
  <option value="col">College</option>
  <option value="grad">Grad school</option>
  <option value="phd">PhD or higher</option>
</select>
          <!-- <input type="text" class="form-control" id="educationlevel" placeholder="" name="educationlevel"> -->
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>



    <div class="masonry-layout__panel philanthropy-bg">
      <div class="masonry-layout__panel-content">
        <form id="Everyday" name="">

          <p>
            Name something you do every day that makes you a good person.
          </p>

          <input type="text" class="form-control" id="everyday" placeholder="" name="everyday">
          <button type="submit" class="btn btn-default">Submit</button>

        </form>
      </div>
    </div>

    <div class="masonry-layout__panel philanthropy-bg">
      <div class="masonry-layout__panel-content">
        <form id="selfscore" name="">

          <p>
            What humanitarian score would you give yourself?
          </p>
          <!-- <form oninput="x.value=parseInt(a.value)+parseInt(b.value)"> -->
            0
            <input type="range" id="a" name="a" value="50"> 100 +
            <input type="number" id="b" name="b" value="50"> =
            <output name="x" for="a b"></output>
            <br>
            <br>
            <!-- <input type="submit"> -->
          <!-- </form> -->
          <!-- <input type="number" class="form-control" id="selfscore" placeholder="" name="selfscore"> -->

          <button type="submit" class="btn btn-default">Submit</button>

        </form>
      </div>
    </div>



    <div class="masonry-layout__panel activism-bg">
      <div class="masonry-layout__panel-content">
        <form id="" name="">

          <h2>ACTIVISM</h2>
          <p>Name one organization or cause that you have donated time or money to,
            in the last year?</p>
          <input type="text" class="form-control" id="activism" placeholder="" name="activism">
          <button type="submit" class="btn btn-default">Submit</button>

        </form>
      </div>
    </div>




    <div class="masonry-layout__panel green-bg">
      <div class="masonry-layout__panel-content">
        <form id="" name="">

          <h2>GREEN</h2>
          <p>
            Do you believe in Climate Change?
          </p>

          <button type="submit" class="btn btn-default">Submit</button>

        </form>
      </div>
    </div>





    <div class="masonry-layout__panel activism-bg">
      <div class="masonry-layout__panel-content">
        <form id="" name="">

          <h2>ACTIVISM</h2>
          <p>Do you recycle?</p>

          <button type="submit" class="btn btn-default">Submit</button>

        </form>
      </div>
    </div>

    <div class="masonry-layout__panel intelligence-bg">
      <div class="masonry-layout__panel-content">
        <form id="IntelligenceForm" name="IntelligenceForm">
          <h2>INTELLIGENCE</h2>
          <p>enter github handle</p>
          <input type="text" class="form-control" id="intelligence" placeholder="" name="intelligence">
          <button type="submit" class="btn btn-default">Submit</button>
          <!-- //how can I make something else do the submit -->
          </button>
        </form>

      </div>
    </div>


    <!-- //hide this but we use in all the ajax -->
    <div style="display:none" id="personId">{{personId}}</div>
    <div style="display:none" id="hasFacebook">{{hasFacebook}}</div>
        <div style="display:none" id="facebookClientId">{{facebookClientId}}</div>
    <div style="display:none" id="facebookScopes">{{facebookScopes}}</div>

  </div>


</body>

</html>
