<!DOCTYPE html>

<html lang="en">

<head>
    <title>Eternal Cloud</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- my style sheets -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/section2.css">
</head>

<body>
  <!-- //jquery -->
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

  <img id="image-cursor" src="img/low_cursor.png"/>


    <div class="esc-instructions">
        <nav class="navbar navbar-default navbar-fixed-top" id="override-nav">
          <div class="container" id="header">
            <!-- <div class="bg-animation">  </div> -->
              <img id="logo" src="img/logoBrain.svg" alt="" />
              <p id= "company-name">
                Eternal Cloud
              </p>
              <!-- //button to turn audio on and off -->
              <img src="img/audio.png" id='audio-toggle' onclick="toggleAudio()" name="button"></img>

              <p class="top-nav-text buttons" id='your-value'>
                  Your Value
              </p>
              <p class="top-nav-text buttons" id="login" style="display:none">
                  Log in
              </p>
          </div>
        </nav>


    </div>



    <div id="blocker">

      <div id="access-score">
        <h1 class = 'access-score-type'><mark>YOUR HUMANITARIAN SCORE</mark></h1>
      <br>
      <table>
        <tr>
<td class="ra"><span id= "access-1-gb">0</span> GB</span></td>
<td>
  <h1 class = 'access-score-type' id="access-1"><mark>Philanthropy: <span id="access-1-score">😭 </span></mark></h1>

</td>
  </tr>
  <tr>
  <td class="ra"><span id= "access-2-gb">0</span>GB</td>
  <td> <h1 class = 'access-score-type' id="access-2"><mark>Career Choice: <span id="access-2-score">😭 </span></mark></h1>
  </td>
  </tr>

</tr>
<tr>
<td class="ra"><span id= "access-3-gb">0 </span>GB</td>
<td>
  <h1 class = 'access-score-type' id="access-3"><mark>Intelligence: <span id="access-3-score">😭 </span></mark></h1>
</td>
</tr>

</tr>
<tr>
<td class="ra"><span id= "access-4-gb">0 </span>GB</td>
<td>
  <h1 class = 'access-score-type' id="access-4"><mark>Activism Level: <span id="access-4-score">😭 </span></mark></h1>
</td>
</tr>
      </table>
<br>
<h1 class = 'access-score-type'><mark>TOTAL VALUE TO ETERNAL CLOUD: </mark><span id="hc-total"></span></h1>

    </div>


  			<div id="instructions">
          <div class="tagline-holder" id="tagline-holder">

              <h1 id="tagline">Your new neural neighborhood <sup>®</sup></h1>
              <div onmousedown="mDown(this)" onmouseup="mUp(this)" onmouseout="mOut(this)" onmouseover="mOver(this)" class="buttons button-first" id="explore">
                  EXPLORE </div>
          </div>
  				<!-- <span style="font-size:40px; color:red">Click to play</span>
  				<br />
  				(W, A, S, D = Move, SPACE = Jump, MOUSE = Look around) -->
  			</div>

  	  	</div>





    <!-- //three js to be added here -->
    <div id="canvasBox"></div>

    <!-- //more bootstrap stuff here -->
    <div class="row" id="all-projects">
        <p id="walking-instructions" style="display:none">
            Click to Look Around   ||   " ← ↑ ↓ →" to walk around   ||   ESC to deactivate controls
        </p>
    </div>

  <!-- //more bootstrap stuff here -->
  <!-- <div class="col-md-4">
    <h1>Community Members</h1>

    <button type="button" class="buttons" name="button">Who you will be connected to? </button>
    <p>  Please remember that your humanitarian score will determine the strength of the links
  </p>
</div> -->
<!-- <div class="col-md-4">
  <h1>What</h1>
  <p>
    I dont know yet
  </p>
</div> -->
<!-- <div class="col-md-4">
  <h1>FAQ</h1>
  <p>
    <ul>
      <li>Can I buy my way in?</li>
      <li>Can I do anything to reverse my past actions?</li>
    </ul>
  </p>
</div> -->

<!-- these videos get triggered in the threejs scene -->
    <video id="video1"  loop webkit-playsinline style="display:none">
		<source src="img/intro.mp4"></video>
    <video id="video2" webkit-playsinline style="display:none">
    <source src="img/welcome2.mp4"></video>
    <video id="video3" webkit-playsinline style="display:none">
    <source src="img/login.mp4"></video>

<!-- //audio for the whole scene -->
  <audio loop audio autoplay id="myTune" volume=".1"> <source src="img/PurpleVortex.mp3"></audio>


    <!-- //do I need these here at all? -->
    <script src="https://js.pusher.com/3.2/pusher.min.js"></script>

<!-- //a boiler plate i used had this, not sure if i still need it -->
    <!-- <script src="node_modules/es6-promise/dist/es6-promise.js"></script> -->

    <!-- //threejs stuff -->
    <script src="js/three.min.js"></script>
    <script src="js/AsciiEffect.js"></script>
    <script src="js/PointerLockControls.js"></script>
    <script src="js/loaders/JSONLoader.js"></script>

    <!-- //green sock and jquery -->
    <script src="js/lib/TweenMax.min.js"></script>


    <!-- //my JS stuff -->
    <script src="js/globalVars.js"></script>
    <script src="js/globalFunctions.js"></script>
    <script src="js/scene1.js"></script>
    <script src="js/popUp.js"></script>
    <script src="js/eventHandlers.js"></script>

    <!-- //add bootstrap JS -->
    <script src="js/bootstrap.min.js"></script>

    <script>

    $.ajax({
      url: '/getKey',
      method: 'get',
    })
    .done(function(data){

      makePusher(data)
    })
    .fail(function(err){
      console.log(err)
    })

    //If a channel has been subscribed to already it is possible to access channels by name,
    //through the pusher.channel function:
    //The name of the channel to retrieve
  function makePusher(key){
    var pusherFront = new Pusher(key);

    // //subscribe and unsubscribe from channels at any time.
    //create a channel from nothing like this.
    //events are past tense "thing was created"
    var channel1 = pusherFront.subscribe("channelName");
    var channel2 = pusherFront.subscribe("photoTakenCh");
    var channel3 = pusherFront.subscribe("doneChannel");



//events are published to channels.
//all events on a channel are pushed to all subscribers of that channel
//use channels to filter
//bind with a callback;
    channel1.bind('addedInfo',
      function(data) {
        // add new price into the APPL widget
        console.log('binding "addedInfo" to channel1. data:');
        console.log(data);

        if(data.philanthropy != undefined){
          //make an algorithm for score
          var philGB = data.philanthropy*1.3;
        document.getElementById("access-1-score").innerHTML = data.philanthropy+ '%';
        document.getElementById("access-1-gb").innerHTML = philGB;

        }

        if(data.career != undefined){
          console.log(data.career)
          document.getElementById("access-2-score").innerHTML = data.career;
          if (data.career == 'yes'){
            document.getElementById("access-2-gb").innerHTML = -88;

          } else {
            document.getElementById("access-2-gb").innerHTML = 66;

          }
        }

        if(data.intelligence != undefined){
          console.log(data.intelligence)
          document.getElementById("access-3-score").innerHTML = data.intelligence;
          document.getElementById("access-2-gb").innerHTML = Math.floor(Math.random()*300);
        }

        if(data.activism != undefined){
          console.log(data.activism)
          document.getElementById("access-4-gb").innerHTML = 43;

          document.getElementById("access-4-score").innerHTML = data.activism;
        } else {
          document.getElementById("access-4-score").innerHTML = '🙈 🙉 🙊';

        }
        //tally up score
        //post score to the server
        document.getElementById("hc-total").innerHTML = parseInt(document.getElementById("access-2-gb").innerHTML) + parseInt(document.getElementById("access-1-gb").innerHTML)+parseInt(document.getElementById("access-3-gb").innerHTML)+parseInt(document.getElementById("access-4-gb").innerHTML)


      })

      channel2.bind("finishedForm",function(data) {

          console.log('finished form as triggered')
          console.log(data)
          secondScreen.location.href="/directory"
          asciiOn = false;
          switchBackfromAscii = true;
          //third screen add score to

        })


      channel2.bind('photoTaken',function(data){
        console.log('photo was taken')
        thirdScreen.location.href="/candidate-solo"

      })

  }
//bind an event to this channel

    </script>



</body>
</html>
