<!DOCTYPE html>

<html lang="en">

<head>
    <title>Eternal Cloud</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- my style sheets -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/section2.css">
</head>

<body>
  <!-- //or juse google -->
<!-- https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js -->
  <!-- //add jquery first -->
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>


    <div class="esc-instructions">
        <nav class="navbar navbar-default navbar-fixed-top" id="override-nav">
          <div class="container" id="header">
            <!-- <div class="bg-animation">  </div> -->
              <img id="logo" src="img/logoBrain.svg" alt="" />
              <p id= "company-name">
                Eternal Cloud
              </p>
              <img src="img/audio.png" id='audio-toggle' onclick="toggleAudio()" name="button"></img>

              <p class="top-nav-text buttons" id='your-value'>
                  Your Value
              </p>
              <p class="top-nav-text buttons" id="login" style="display:none">
                  Log in
              </p>
              <!-- //button to turn audio on and off -->
          </div>
        </nav>


    </div>



    <div id="blocker">

      <div id="access-score">
        <h1 class = 'access-score-type'><mark>YOUR HUMANITARIAN SCORE</mark></h1>
        <!-- <p>
          Question 1:
        </p> -->
        <mark><h1 class = 'access-score-type' id="access-1">Philanthropy: <span id="access-1-score">nAn</span></h1></mark>
        <mark><h1 class = 'access-score-type' id="access-2">Career Choices: <span id="access-2-score">nAn</span></h1></mark>
        <mark><h1 class = 'access-score-type' id="access-3">Intelligence: <span id="access-3-score">nAn</span></h1></mark>
        <mark><h1 class = 'access-score-type' id="access-4">Activism Level: <span id="access-4-score">nAn</span></h1></mark>
      </div>

  			<div id="instructions">
          <div class="tagline-holder" id="tagline-holder">

              <h1 id="tagline">Your new neural neighborhood <sup>®</sup></h1>
              <div onmousedown="mDown(this)" onmouseup="mUp(this)" onmouseout="mOut(this)" onmouseover="mOver(this)" class="buttons button-first" id="explore">
                  EXPLORE </div>
          </div>
  				<!-- <span style="font-size:40px; color:red">Click to play</span>
  				<br />
  				(W, A, S, D = Move, SPACE = Jump, MOUSE = Look around) -->
  			</div>

  	  	</div>





    <!-- //three js to be added here -->
    <div id="canvasBox"></div>

    <!-- //more bootstrap stuff here -->
    <div class="row" id="all-projects">
        <p id="walking-instructions" style="display:none">
            Click to Look Around   ||   " ← ↑ ↓ →" to walk around   ||   ESC to deactivate controls
        </p>
    </div>

  <!-- //more bootstrap stuff here -->
  <div class="col-md-4">
    <h1>Community Members</h1>

    <button type="button" class="buttons" name="button">Who you will be connected to? </button>
    <p>  Please remember that your humanitarian score will determine the strength of the links
  </p>
</div>
<div class="col-md-4">
  <h1>What</h1>
  <p>
    I dont know yet
  </p>
</div>
<div class="col-md-4">
  <h1>FAQ</h1>
  <p>
    <ul>
      <li>Can I buy my way in?</li>
      <li>Can I do anything to reverse my past actions?</li>
    </ul>
  </p>
</div>

<!-- these videos get triggered in the threejs scene -->
<video id="video1"  loop webkit-playsinline style="display:none">
			<source src="img/intro.mp4"></video>
    <video id="video2" webkit-playsinline style="display:none">
    			<source src="img/welcome2.mp4"></video>
            <video id="video3" webkit-playsinline style="display:none">
                  <source src="img/login.mp4"></video>

<!-- //audio for the whole scene -->
  <audio loop audio autoplay id="myTune" volume=".1"> <source src="img/PurpleVortex.mp3"></audio>




<!-- //a boiler plate i used had this, not sure if i still need it -->
    <!-- <script src="node_modules/es6-promise/dist/es6-promise.js"></script> -->

    <!-- //threejs stuff -->
    <script src="js/three.min.js"></script>
    <script src="js/AsciiEffect.js"></script>
    <script src="js/PointerLockControls.js"></script>
    <script src="js/loaders/JSONLoader.js"></script>

    <!-- //green sock and jquery -->
    <script src="js/lib/TweenMax.min.js"></script>


    <!-- //my JS stuff -->
    <script src="js/globalVars.js"></script>
    <script src="js/globalFunctions.js"></script>
    <script src="js/scene1.js"></script>
    <script src="js/popUp.js"></script>
    <script src="js/eventHandlers.js"></script>

    <!-- //add bootstrap JS -->
    <script src="js/bootstrap.min.js"></script>



</body>
</html>
