


  .container {
    position: relative;
  }

  .header {
    background-color: #009fc6;
    color: white;
    padding-top: 1px;
    padding-bottom: 46px;
  }

  #done {
    font-size: 40px;
  }

  body {
    width: 100%;
    height: 100%;
    overflow: scroll;
  }

  .masonry-layout {
    margin-top: 100px;
    column-count: 3;
    -webkit-column-count: 3;
    column-gap: 4;
    margin-left: 15px;

    margin-right: 15px;
    margin-top: 15px;
    -webkit-column-gap: 4;
  }

  .masonry-layout__panel {
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    padding: 5px;
    min-width: 100px;
    border-radius: 10px;
    margin: 10px;
  }

  .masonry-layout__panel-content {
    padding: 10px;
    border-radius: 10px;

  }
