html{
	overflow-x: hidden;
	overflow-y: auto;
	font: 'Rubik'
}

body {
	overflow	: hidden;
	padding		: 0;
	margin		: 0;

	color		: #222;
	background-image: url('../img/bg.gif');
	font-family	: "Rubik";
	font-size	: 100%;
}

h2{
	color: pink;
}

p{
	font-size: 20px;
}

#candidate-gif{
	width: 160px;
	margin: auto;
	right: 0px;
	bottom:5px;
	position: absolute;

}

#score-update{
	position: absolute;
	left:45%;
	bottom: 0px;
}
#candidate-gif-2{
	width: 160px;
	margin: auto;
	left: 0px;
	bottom:5px;
	position: absolute;

}

#botton-button{
	position: absolute;
	bottom: 10%;
	left: 40%;
}

.blue{
	/*color: #009fc6;*/
}

.centered-type{
	text-align: center;
}

#my_camera{
	position: absolute;
	top:0px;
	right:0px;
	/*margin: auto;*/
}
#info .top {
	position	: absolute;
	top		: 0px;
	width		: 100%;
	padding		: 5px;
	text-align	: center;
}
#info a {
	color		: #66F;
	text-decoration	: none;
}
#info a:hover {
	text-decoration	: underline;
}
#info .bottom {
	position	: absolute;
	bottom		: 0px;
	right		: 5px;
	padding		: 5px;
}

.header{
	background-color: #009fc6;
	color: white;
	text-align: center;
}

#container{
	z-index: -20;
	position: absolute;
}


#candidate-container{
	float: left;
	/*width: 200px;*/

}
