html{
	overflow-x: hidden;
	overflow-y: auto;
	font: 'Rubik';
	width: 100%;
	height:100%;
}

body {
	overflow	: hidden;
	padding		: 0;
	margin		: 0;
	width: 100%;
	height:100%;

	color		: #222;
	/*background-image: url('../img/bg.gif');*/
	font-family	: "Rubik";

}

h2{
	color: pink;
}

.blue{
	color: #009fc6;
}

p{
	font-size: 20px;
}

#candidate-gif{
	width: 220px;
	margin: auto;
	position: absolute;
	left: 50%;
	top: 53%;
	transform: translateX(-50%);
}

.centered-type{
	text-align: center;
}

#my_camera{
	position: absolute;
	top:0px;
	right:0px;
	/*margin: auto;*/
}
#info .top {
	position	: absolute;
	top		: 0px;
	width		: 100%;
	padding		: 5px;
	text-align	: center;
}
#info a {
	color		: #66F;
	text-decoration	: none;
}
#info a:hover {
	text-decoration	: underline;
}

#login-embed{
	width: 100%;
	height:100%;
}
#info .bottom {
	position	: absolute;
	bottom		: 0px;
	right		: 5px;
	padding		: 5px;
}
.center-text{
	text-align: center;
}


#container-for-camera{
	z-index: -20;
	position: absolute;
	width: 100%;
	border: 4px solid red;
	height:100%;
}


#candidate-container{
	float: left;
	/*width: 200px;*/

}
