$border-rad: 20px;
$blue: #009fc6;
$pink: #f68f83;
$pink-lgt: #ffbdb8;
$yel-lgt: #ffe771;
$mint: #a8e1d1;
$purple: #b9a0b1;
$font-main: 'Rubik', sans-serif;
$font-size-lrg: 80px;
$font-size-medlrg: 40px;


h2{
  color: $purple;
}
#canvasBox{
  overflow:hidden;
}

#image-cursor{
position:absolute;
display: none;
z-index: 2000;
width: 50%;
}

.ra{
  text-align: right;
  background-color: black;
}

.esc-instructions{
  display: inline-block;
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:80px;
  // background-color: white;
  height: 7vh;

}

#override-nav{
  background-color: rgba(3,3,3,0);
border: 0px;
}


.top-nav-top{
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  z-index: 300;
}

.button-first{
  margin-left: auto;
  margin-right: auto;
  z-index: 400;
  width: 90px;
  position: relative;
  // height: 35px;
  border-radius: 40px;
  top: 33%;
}

.button-first:hover{
  cursor: pointer;
}

mark{
  color: white;
  background-color: black;
}

#access-score{
  width: 70%;
height: 70%;
margin: 15%;
padding: 30px;
z-index: 1100;
font-weight: bold;
position: absolute;
  display: none;
  z-index: 800;
  color: white;
  background-color: rgba(5,5,5,0);
  // background-color: $purple;
  box-shadow: 10px 10px 0px 0px black;
}

.tagline-holder{
  position: relative;
top: -10%;

}

#audio-toggle{
  width:5%;
  float:right;
  display: inline-block;
margin-right: 14px;
vertical-align: middle;
}

// .bg-animation{
//   position: absolute;
//   z-index: -20;
//   top: 0px;
//   left: 0px;
//   width: 100%;
//   height: 100%;
//   // opacity: 0.6;
// }

#vide-2{
  float:right
}

.video-bg{
  height:100%;
  // float:left;
  position: relative;
  // width: 30%;
  // margin: -4px;
  opacity: 0.6;
  display: inline-block;
}

#one-hex{
  position: absolute;
  z-index: -300;
    top: 0px;
    left: 0px;
    width: 10%;
    height: 10%;
}

p{
  color: $pink;
}

#tagline{
  position: relative;
    vertical-align: middle;
    font-size: $font-size-medlrg;
    text-align: center;
    top: 22%;
    font-size: 34px;
    overflow: visible;

}

.buttons{

  color: $blue;
  padding: 8px;
  border: 2px solid $blue;
  border-radius: $border-rad;
  text-align: center;
  background-color: rgba(1,1,1,0);

}

.buttons:hover{
  color: white;
  background-color: $blue;
  cursor: pointer;

}

.top-nav-text{
  float: right;
  display: inline-block;
  // margin-top: 9px;
  margin-right: 14px;
  // top: -21px;
  vertical-align: middle;


}



.splash {
    position: absolute;
    width: 100%;
    height: 100%;
    // background-color: rgba(0, 0, 0, 0);
}

#blocker {
        position: absolute;
        width: 100%;
        height: 100%;
        // background-color: rgba(0,0,0,0.5);
        z-index: 900;
      }
      #instructions {
        border: 20px blue;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        // background-color: yellow;

        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        color: #ffffff;
        text-align: center;
        cursor: pointer;
      }

#header{
      margin-top:10px;
      }

#logo{
  width: 16%;
      padding: 3px;
      margin-left: -19px;
      float: left;
      margin-top: -12px;


}

#company-name{
  float: left;
  font-size: 30px;
}

#walking-instructions{
  color: $blue;
  margin: auto;
  text-align: center;
  margin: 5px;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: white;
    margin: 0;
    font-family: $font-main;
    color: $pink;
}

#container {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}
